langchain
langchain_community
langchain-openai
python-dotenv
ipykernel
langchain_core
streamlit
langchain_groq
faiss-cpu
pypdf
langchain_chroma
wikipedia
arxiv
transformers
validators==0.28.1
pytube
youtube_transcript_api
unstructured
langchain-yt-dlp
numexpr
langchain_huggingface
huggingface_hub